// Custom initial variables
// ––––––––––––––––––––––

// Colors
$primary: #9aff9a;
$white: #ffffff;

// Typography
$primary-font: 'Abril Fatface';
$family-primary: $primary-font, $family-sans-serif;
